.home {
	width: 100%;
  padding-top: 4.0rem;
  background: #8981A5;
  position: absolute;
  height: 100%;
  div {
  	.pic-list {
			margin: 0.133333rem;
   		border: 10px solid #fff;
   		border-radius: 0.133333rem;
			img {
				width: 100%;
				box-shadow: 0 5px 5px 0 #ccc;
			}
			div {
				background: #fff;
				i {
					font-size: 0.666667rem;
    			color: burlywood;
				}
			}
		}
	
  }
	
}